---
---
<!DOCTYPE HTML>
<html>
{% include header.html %}
    <body class="no-sidebar">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">


            {% include nav.html %}

				</div>

			<!-- Main -->
				<div class="wrapper style1">

					<div class="container">
						<article id="main" class="special">
							<header>
								  <h2><a href="#">Work. For people who don't know how to sail.</a></h2>
                  <p>Follow us along as we cut our lines and prepare for a cruising life  aboard our Dufour 36 classic, Bon Bini.</p>
							</header>
							<a href="#" class="image featured"><img src="/img/us.jpg" alt="" /></a>
							<p>
                  It all started with a lazy afternoon in Amsterdam. We were always on the lookout for something interesting to do, and one day Camilla said: "I know, how's about we go sailing!" Having never sailed before, I was wondering what the big deal was. And to be completely honest, I was also a bit scared, having been terribly seasick before and not wanting to experience that dreadful feeling ever again. We signed up with <a href="http://www.waypointamsterdam.com/">Waypoint</a>, a sailing school in Amsterdam, and had the most amazing sailing weekend ever. Looking back, this weekend was what got us addicted to water and winds!
							</p>
							<section>
								<header>
									<h3>Sailing in The Netherlands</h3>
								</header>
								<p>

								</p>
								<p>
                    What followed was a bunch of sailing weekends in The Netherlands. We did  our <a href="http://www.rya.org.uk/coursestraining/courses/sailcruising/Pages/Competentcrew.aspx">RYA Competent Crew</a> certificate with <a href="http://www.waypointamsterdam.com/">Waypoint</a>, and did the shore-based theory for the Dayskipper. After gaining a bit more confidence, we started chartering smaller boats to sail on the <a href="https://en.wikipedia.org/wiki/Markermeer">Markermeer</a> and the <a href="https://en.wikipedia.org/wiki/IJsselmeer">Ijsselmeer</a>.
								</p>
							</section>
							<section>
								<header>
									<h3>Buying Bon Bini</h3>
								</header>
								<p>
                    After some more great sailing trips in The Netherlands and a couple of charters in Greece, we deciced that it was time to buy our own boat. We've heard the saying "The only thing better than a boat is a friend with a boat", but honestly, we were falling in love with sailing and cruising more and more, and wanted to have a boat that we know inside out and that has exactly what we needed. After looking for over a year, we found her. There is a more detailed story <a href="http://www.sailingbonbini.com">here</a> about how we bought and delivered her to Amsterdam.
								</p>
							</section>
							<section>
								<header>
									<h3>Moving to Barcelona and Getting Ready to Cruise!</h3>
								</header>
								<p>
                    We've both been dreaming about living the cruising lifestyle for a while, and with Bon Bini being part of our little family, this goal seemed to be attainable. The only problem was that sailing in The Netherlands was not exactly what we had in mind. We wanted sun, blue water and sandy beaches, and all that The Netherlands had to offer was grey weather and green water. What we wanted was to somehow get closer to our goal of crusing full time, and both thought that moving to Barcelona would just be that! With our base now in Barcelona, we enjoy cruising the Med, and are busy preparing our extended cruise some time early 2018. Follow along as we get ready to quit our jobs, sell all our stuff and cruise wherever the wind may take us!
								</p>
							</section>
						<footer>
							  <a href="#footer" class="button">Join us!</a>
						</footer>
					  </article>
					</div>

				  </div>
        </div>

			<!-- Footer -->
				<div id="footer">
					<div class="container">
						<div class="row">
						</div>
            {% include contact.html %}
					</div>
				</div>
		    </div>

        {% include scripts.html %}
	</body>
</html>
