---
---
<!DOCTYPE HTML>
<html>
{% include header.html %}
    <body class="no-sidebar">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Inner -->
						<div class="inner">
					</div>

            {% include nav.html %}

				</div>

			<!-- Main -->
				<div class="wrapper style1">

					<div class="container">
						<article id="main" class="special">
	                <header>
									  <h2><a href="#">Bon Bini - A 2001 Dufour 36 classic</a></h2>
                  <p>Step aboard our pride and joy</p>
							</header>
							<a href="#" class="image featured"><img src="/img/bonbini.jpg" alt="" /></a>
							<p>
                  Bon Bini is a 2 cabin Dufour 36ft Classic (10.9m for you metric folk) built in November 2001 and first registered in 2002 in the Netherlands. 
							</p>
              <p>
                  How we found her is a nice story. Tom and I had been 'umming' and ahhing' for several months about whether we should buy a boat. To help us decide we went to visit a couple, and started off by looking at day sailors (we saw a Albin Vega). Whilst they were nice little boats, none really appealed. In late July 2015, Tom went on a business trip to Seattle. As was usually the case he was horribly jetlagged, waking up at 02:00 every morning and to pass the time he browsed through the For Sale listings. That's when he came across Bon Bini. Although twice the size (and twice the budget!) we were after, something about this boat captured his imagination. The following day I picked Tom up from the airport and off we drove to White Whale Yachtbrokers, based in Willemstad, a 3 hour drive SE from Amsterdam.
              </p>
							<a href="#" class="image featured"><img src="/img/bonbini-inside.jpg" alt="" /></a>
              <p>
                  As soon as we stepped foot on Bon Bini, we just knew she was the boat for us - she was perfect. In a pathetic attempt to play hardball with the yacht broker, we nonchalantly said we'd think about it and drove home. Predictably however, the very next day we called and made an offer, which they accepted - woo hoo! We arranged the survey for the following week, and waited anxiously for the news. We were delighted to hear everything was in great working order, even the surveyor was impressed with her condition saying, "Bon Bini is in a much better condition than to be expected".
              </p>
              <p>
                  Let me tell you a bit about her. Bon Bini has had one previous, and very careful owner. So careful in fact that he kept every single receipt and carefully cut out any mention of his name and address (bit odd but, OK). He spec'd her from new and added quite a a lot of handy extras; a larger keel, hot water heater, hot air heater, cockpit tent, bimini and a gennaker,  and some more 'luxury' extras; a microwave and a TV(!?). She'd been very lightly used and as far as we can tell, more in the mode of caravan rather than sailing vessel (evidenced by a meager 750 engine hours in 12 years). When he sold her he traded her in for a motor boat (he was getting on a bit apparently) and was good enough to leave us everything he couldn't take, saved us a fortune!
              </p>
              <p>
                  We couldn't be prouder to be Bon Bini's new owners.
              </p>
					  </article>
					</div>

				  </div>
        </div>

			<!-- Footer -->
				<div id="footer">
					<div class="container">
						<div class="row">
						</div>
            {% include contact.html %}
					</div>
				</div>
		    </div>

        {% include scripts.html %}
	</body>
</html>
