 						<div id="contact" class="row">
							<div class="12u">
                  <!-- Contact -->
									<section class="contact">
										<header>
											<h3>Want to stay in touch?</h3>
										</header>
                    <p>Subscribe to our newsletter and never miss a post, or follow us on social media!</p>

                      <form action="//sailingbonbini.us14.list-manage.com/subscribe/post?u=b83a2bba4a03160e05a4cc068&amp;id=854ce66c7b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="6u" style="display: block; margin: auto" novalidate>
                          <input style="float: right" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                          <div style="overflow: hidden; padding-right: .5em;">
                              <input type="email" value="" name="EMAIL" id="mce-EMAIL"/>
                          </div>
                          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b83a2bba4a03160e05a4cc068_854ce66c7b" tabindex="-1" value=""></div>
 
                      </form>

                      <p/>
                      <ul class="icons">
											<li><a href="https://twitter.com/sailingbonbini" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
											<li><a href="https://www.facebook.com/sailingbonbini/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
											<li><a href="https://www.instagram.com/sailingbonbini/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
										</ul>
									</section>


                  <!-- Copyright -->
									<div class="copyright">
										<ul class="menu">
											<li>&copy; Sailing Bon Bini. All rights reserved.</li>
										</ul>
									</div>
							</div>
						</div>
