 						<div class="row">
							<div class="12u">
                  <!-- Contact -->
									<section class="contact">
										<header>
											<h3>Want to stay in touch?</h3>
										</header>
										<p>The easiest way to stay in touch is probably through one of our social media channels below. Fair winds!</p>
										<ul class="icons">
											<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
											<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
											<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
										</ul>
									</section>
								<!-- Copyright -->
									<div class="copyright">
										<ul class="menu">
											<li>&copy; Sailing Bon Bini. All rights reserved.</li>
										</ul>
									</div>
							</div>
						</div>
