		<!-- Scripts -->
			<script src="{{site.url}}/assets/js/jquery.min.js"></script>
			<script src="{{site.url}}/assets/js/jquery.dropotron.min.js"></script>
			<script src="{{site.url}}/assets/js/jquery.scrolly.min.js"></script>
			<script src="{{site.url}}/assets/js/jquery.onvisible.min.js"></script>
			<script src="{{site.url}}/assets/js/skel.min.js"></script>
			<script src="{{site.url}}/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="a{{site.url}}/ssets/js/ie/respond.min.js"></script><![endif]-->
			<script src="{{site.url}}/assets/js/main.js"></script>

